form.form(action="")
  .form__container
    include ./form/form-header.pug
    include ./form/form-general.pug
    include ./form/form-checkboxes.pug
    include ./form/form-slider.pug
    include ./form/form-about.pug
    include ./form/form-plans.pug
    include ./form/form-fill-date.pug
    
