header.form-header.form__child
  img.form-header__firm-logo(src="../images/logoCSSR.png", alt="Our Logo")
  img.form-header__secret-label(src="../images/secretLabel.png", alt="Totally Secret")
  img(src="../images/logo.png").form-header__logo