fieldset.form-fill-date.form__child
  label.form-fill-date__label
    .form-fill-date__label-title.form-common-title Дата заполнения
    .form-fill-date__input-box.form-common-input-box
       input(type="text" placeholder="01.01.2016").form-fill-date__input.form-common-input