fieldset.form-general.form__child
  label.form-general__line
    .form-general__line-title Полное ФИО
    .form-general__input-box.form-common-input-box
      input.form-general__input.form-common-input(placeholder="Иванов Иван Иванович")
  label.form-general__line
    .form-general__line-title Год рождения
    .form-general__input-box.form-common-input-box
      input.form-general__input.form-common-input(placeholder="1990")
  label.form-general__line
    .form-general__line-title Место жительства
    .form-general__input-box.form-common-input-box
      input.form-general__input.form-common-input(placeholder="г. Иваново, Россия")
  label.form-general__line
    .form-general__line-title Скайп
    .form-general__input-box.form-common-input-box
      input.form-general__input.form-common-input(placeholder="ivanov")
  label.form-general__line
    .form-general__line-title Почта
    .form-general__input-box.form-common-input-box
      input.form-general__input.form-common-input(placeholder="ivanov@gmail.com")