fieldset.form-slider.form__child
  .form-common-title Уровень владения Javascript
  .form-slider__slider.js-form-slider
    .js-form-slider__weathercock
    .js-form-slider__mark.js-form-slider__mark.js-form-slider__mark_beginner
      .js-form-slider__mark-description Не владею
    .js-form-slider__mark.js-form-slider__mark_short.js-form-slider__mark_middle
      .js-form-slider__mark-description Использую готовые решения
    .js-form-slider__mark.js-form-slider__mark_short.js-form-slider__mark_higher
      .js-form-slider__mark-description Использую готовые решения и умею их переделывать
    .js-form-slider__mark.js-form-slider__mark.js-form-slider__mark_god
      .js-form-slider__mark-description Пишу сложный JS с нуля

    input(type="range" min="1" max="4" step="1" value="2" id="js-skill-scale").js-form-slider__input