fieldset.form-checkboxes.form__child
  .form-checkboxes__title.form-common-title Расскажите о себе чекбоксами
  .form-checkboxes__description.form-common-description Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.
  .form-checkboxes__checkboxes
    label.form-checkboxes__check-box
      .form-checkboxes__input-title БЭМ / OOCS
      input(type="checkbox" checked).form-checkboxes__input
      .form-checkboxes__checkmark
    label.form-checkboxes__check-box
      .form-checkboxes__input-title PUG (Jade)
      input(type="checkbox" checked).form-checkboxes__input
      .form-checkboxes__checkmark
    label.form-checkboxes__check-box
      .form-checkboxes__input-title Stylus/LESS/SASS
      input(type="checkbox" checked).form-checkboxes__input
      .form-checkboxes__checkmark
    label.form-checkboxes__check-box
      .form-checkboxes__input-title Работаю с SVG
      input(type="checkbox" checked).form-checkboxes__input
      .form-checkboxes__checkmark
    label.form-checkboxes__check-box
      .form-checkboxes__input-title Верстаю семантично
      input(type="checkbox" checked).form-checkboxes__input
      .form-checkboxes__checkmark
    label.form-checkboxes__check-box
      .form-checkboxes__input-title Accesebility (A11Y)
      input(type="checkbox" checked).form-checkboxes__input
      .form-checkboxes__checkmark
    label.form-checkboxes__check-box
      .form-checkboxes__input-title Изучаю Javascript
      input(type="checkbox" checked).form-checkboxes__input
      .form-checkboxes__checkmark
    label.form-checkboxes__check-box
      .form-checkboxes__input-title ES2015 / ES2016
      input(type="checkbox").form-checkboxes__input
      .form-checkboxes__checkmark
    label.form-checkboxes__check-box
      .form-checkboxes__input-title Gulp/GRUNT
      input(type="checkbox" checked).form-checkboxes__input
      .form-checkboxes__checkmark
    label.form-checkboxes__check-box
      .form-checkboxes__input-title Webpack
      input(type="checkbox" checked).form-checkboxes__input
      .form-checkboxes__checkmark
    label.form-checkboxes__check-box
      .form-checkboxes__input-title Дружу с WebGL
      input(type="checkbox").form-checkboxes__input
      .form-checkboxes__checkmark
    label.form-checkboxes__check-box
      .form-checkboxes__input-title jQuery
      input(type="checkbox" checked).form-checkboxes__input
      .form-checkboxes__checkmark
    label.form-checkboxes__check-box
      .form-checkboxes__input-title Знаю/изучаю Angular 
      input(type="checkbox").form-checkboxes__input
      .form-checkboxes__checkmark
    label.form-checkboxes__check-box
      .form-checkboxes__input-title Знаю/изучаю React
      input(type="checkbox").form-checkboxes__input
      .form-checkboxes__checkmark
    label.form-checkboxes__check-box
      .form-checkboxes__input-title Знаю/изучаю Node.js
      input(type="checkbox").form-checkboxes__input
      .form-checkboxes__checkmark
    label.form-checkboxes__check-box
      .form-checkboxes__input-title Использую Git
      input(type="checkbox" checked).form-checkboxes__input
      .form-checkboxes__checkmark
    label.form-checkboxes__check-box
      .form-checkboxes__input-title С глазомером всё ок
      input(type="checkbox").form-checkboxes__input
      .form-checkboxes__checkmark
    label.form-checkboxes__check-box
      .form-checkboxes__input-title Читаю <a href="blog.csssr.ru"> blog.csssr.ru </a>
      input(type="checkbox").form-checkboxes__input
      .form-checkboxes__checkmark
    label.form-checkboxes__check-box
      .form-checkboxes__input-title Я ленивый(-ая)
      input(type="checkbox" checked).form-checkboxes__input
      .form-checkboxes__checkmark
    label.form-checkboxes__check-box
      .form-checkboxes__input-title У меня хороший английский
      input(type="checkbox" checked).form-checkboxes__input
      .form-checkboxes__checkmark