fieldset.form-planss.form__child
  .form-common-title Какие у вас планы на будущее?
  .form-common-description Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.
  .form-plans__plans-list
    label.form-plans__plan
      input.form-plans__input(type="radio" name="futurePlan") 
      .form-plans__checkmark
      .form-plans__plan-title Верстать
    label.form-plans__plan
      input.form-plans__input(type="radio" name="futurePlan" checked) 
      .form-plans__checkmark
      .form-plans__plan-title Прокачиваться в JS
    label.form-plans__plan
      input.form-plans__input(type="radio" name="futurePlan") 
      .form-plans__checkmark
      .form-plans__plan-title Менеджерство
    label.form-plans__plan
      input.form-plans__input(type="radio" name="futurePlan") 
      .form-plans__checkmark
      .form-plans__plan-title Другое 