.form {
  padding-top: 45px;
  padding-bottom: 35px;
  background-image: url('#{$imgPath}bg.png');

  @include respond-min($tablet) {
    padding-top: 62px;
    padding-bottom: 70px;
  }

  &__container {
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    @include respond-min($tablet) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @include respond-min($desktop-small) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__header {
    position: relative;
  }

  &__child {
    padding-top: 24px;
    padding-bottom: 20px;
  }
}