$imgPath: '../../images/';

$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;

$mobile-small: 360px;
$mobile: 420px;
$mobile-big: 560px;
$tablet: 768px;
$tablet-big: 992px;
$desktop-small: 1024px;
$desktop: 1366px;
$desktop-xl: 1440px;
$desktop-xxl: 1650px;
$desktop-biggest: 1920px;

$color-text-general: #2f1b15;